
/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    padding-left: .5em;
    padding-right: .5em;
}

body{
    margin: 5em;
}

header{
    font-family: "Roboto", sans-serif;
    border-bottom: .5em solid #7d97ad;
    margin-bottom: .5em;
}

footer{
    border-top: .5em solid #7d97ad;
}

.no-padding{
    padding: 0 !important;
}

#name{
    margin-top: 0;
    margin-top: 0 !important;
    font-size: 36px !important;   /*bootstrap value*/
    font-size: 5.4vw !important;  /*dynamic sizing */
    /*padding: 0 !important;*/
}

#name-subtitle{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px !important;   /*bootstrap value*/
    font-size: 3vw !important;  /*dynamic sizing */
    /*padding: 0 !important;*/
}

svg{
    /*height: auto;*/
    /*padding-bottom: 90%;*/
}

.st0{
    fill:#02B3E4;
}

.landing-page{
    max-width:960px;
}

.splash-image{
    padding-top: 1em;
}

.job-title {
    margin-top: 0;
}

#banner-image{
    padding: 0;
}