
/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    padding-left: .5em;
    padding-right: .5em;
}

body{
    margin-top: 4em;
    margin-right: 3em;
    margin-left: 3em;
}

header{
    font-family: "Roboto", sans-serif;
    border-bottom: .5em solid #7d97ad;
    margin-bottom: .5em;
}

footer{
    border-top: .5em solid #7d97ad;
}

.no-padding{
    padding: 0 !important;
}

.banner-image{
    width: 100%;
}

#name{
    margin-top: 0;
    margin-top: 0 !important;
    font-size: 36px !important;   /*bootstrap value*/
    font-size: 5.4vw !important;  /*dynamic sizing */
    /*padding: 0 !important;*/
}

#name-subtitle{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px !important;   /*bootstrap value*/
    font-size: 3vw !important;  /*dynamic sizing */
    /*padding: 0 !important;*/
}


h3{
    font-size: 24px !important;   /*bootstrap value*/
    font-size: 3.5vw !important;  /*dynamic sizing */
    margin-top: .1em;
}

footer{
    font-size: 14px !important;   /*bootstrap value*/
    font-size: 2.3vw !important;  /*dynamic sizing */
}

svg{
    /*height: auto;*/
    /*padding-bottom: 90%;*/
}

.st0{
    fill:#02B3E4;
}

.landing-page{
    max-width:960px;
}

.splash-image{
    padding-top: 1em;
}

.job-title {
    margin-top: 0;
}

#banner-image{
    padding: 0;
}


/*.mid h2 {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-weight: 900;*/
    /*color: white;*/
    /*text-transform: uppercase;*/
    /*margin: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*!*font-size: 2rem;*!*/
    /*transform: translate(-50%, -50%);*/
    /*font-size: 30px !important;   !*bootstrap value*!*/
    /*font-size: 9vw !important;  !*dynamic sizing *!*/
/*}*/

#featured-images h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;   /*bootstrap value fallback*/
    font-size: 8vw !important;  /*dynamic sizing */
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media all and (min-device-width: 720px){
    #featured-images h2 {
        font-size: 5vw !important;  /*dynamic sizing vw size not working at all sizes this @media */
    }
}

@media all and (min-device-width: 960px){
    #featured-images h2 {
        font-size: 2.6vw !important;  /*dynamic sizing vw size not working at all sizes this @media */
    }
}


.thumbnail{
    position:relative;
    border: none !important;
}